/* Modal */

.modal-container {
  height: 100vh;
  width: 100%;
  background-color: #eff5f9dd;
  display: flex;
  position: fixed;
  z-index: 2;
  transition: all 0.5s ease; /* Todas las propiedades | tiempo | tipo movimiento */
  visibility: visible;
  opacity: 1;
}

.modal-container.hidden {
  visibility: hidden;
  opacity: 0;
}

.modal-container .modal-box {
  min-height: 480px;
  width: 420px;
  text-align: center;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

.modal-container .modal-box .closeModalIcon {
  text-align: end;
}

.modal-container .modal-box .closeModalIcon {
  position: relative;
  top: 15px;
  right: 15px;
  height: 25px;
}

.modal-container .modal-box .closeModalIcon svg {
  width: 40px;
}

.modal-container .modal-box .closeModalIcon svg:hover {
  cursor: pointer;
}

.modal-container .modal-box .logotype img {
  height: 70px;
}
